body
{
    font-size: 110%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    background-color: #656868;
    padding:0;
    margin:0;
}


.hidden {display:none;}
a img {border:0;}

.main_container {width:75%;margin:auto; background-color:#F3E7A9; border:2px solid #F2C968; color:#515230; }
h1 {font-size:3em; text-align:center;width:100%; color:#515230;background-color:#A5A162;margin-left:0;margin-top:0;}
.body_container {padding:1em;}
h2 {color:#691E1E;font-size:2em;}

.center {text-align:center;}

strong {color:#691E1E;}

a,a:visited {color:#515230;}
a.passthrough {color:inherit;text-decoration:none;}

#chase_list li {margin-left:3px; display:inline;}

.error {background-color:#F2C968; color:#ff0000;}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

